
.back
{
    width:60%;
    height:743px;
    border: solid black 1px;
    position:absolute;
    right:0;
    top:0;
    background-color:rgb(255, 255, 255);
    z-index:-1;
    background-color: ;
}
.button1 a
{
text-decoration: none;
font-family:cursive;
font-size:28px;
color:;
}
.button1 a:hover
{
   
  
    
}
.button1
{
padding:20px;
border-radius:20px;
position:absolute;
top:270px;
right:300px;
border:solid black 1px;

}
.button1:hover
{
    background-color:transparent;
    
    
}
.button1:hover ~ .back
{
background-image:url("headphones.jpg");
background-repeat:no-repeat;
background-size:1000px;
opacity:90%;
transition-duration:1s;
}

.button2 a
{
text-decoration: none;
font-family:cursive;
font-size:28px;
}
.button2
{
    padding:15px;
    border-radius:20px;
    position:absolute;
    top:400px;
    right:295px;
    border:solid black 1px;
}
.button2:hover ~ .back
{
    background-image: url("mic.jpg");
    background-size:100%;
    transition-duration: 1s;
    opacity:90%;
}